<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>Drink Recipes</title>

    <!-- End of head content specific to page -->
</div>

</head>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div style="padding: 60px; margin-left: 50px;">
        <h1>Drink Recipes</h1>
        <button>Jump to Recipes!</button>
        <h5>Homemade drinks are very refreshing and enjoyable to drink during any meal! Whether it be drinking with friends or drinking on a Friday night, enjoy these simple recipes to make for fun!</h5>


    </div>
    <!-- End of body content specific to page -->
</div></body>

</html>