<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>Pastries Recipes</title>

    <!-- End of head content specific to page -->
</div>

</head>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div style="padding: 60px; margin-left: 50px;">
        <h1>Pastries Recipes</h1>
        <button>Jump to Recipes!</button>
        <h5>Let’s make homemade breakfast pastries using a variation of classic Danish pastry dough. We’re working the butter directly into the dough, which is a different method from laminating it with separate layers of butter. These breakfast pastries are buttery and flaky with sweet fillings and a drizzle of vanilla icing. For best success, use the video tutorial and step-by-step photos, as well as the carefully explained recipe and guidance included in this lengthy post. I’m prepping you with all the information you could possibly need!</h5>


    </div>
    <!-- End of body content specific to page -->
</div></body>

</html>