<!DOCTYPE html>
<html>
<head>
    ...
</head>
<body>
    <!-- Begin contact info fragment  -->
    <div th:fragment="footer">
        <div class="contact" style="height: 35vh;">
            <!-- title jump -->
            <div class="row justify-content-center" style="margin-top: 2%;">
                <h3 style="margin-top: 3%; font-size: 15px">By the ketoswags >:)</h3>
            </div>
            <!-- email jump -->
            <div class="row justify-content-center">
            </div>

</body>
</html>