<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>...</title>
</head>
<body>
    <!-- Begin navigation fragments -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
        <a class="navbar-brand" href="/">
            <img src="/static/images/ncs_logo.png" th:src="@{/images/FridgeLogo.png}" width="100" height="50" class="d-inline-block align-center" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Bootstrap menus -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--root menu -->
                <li class="nav-item active">
                    <a class="nav-link" href="/recipes">Recipes<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/aboutus">About<span class="sr-only"></span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarPBL" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PBL
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/greet">Greet</a>
                        <a class="dropdown-item" href="/birds">Birds</a>
                        <a class="dropdown-item" href="/ava">Ava</a>
                        <a class="dropdown-item" href="/crystal">Crystal</a>
                        <a class="dropdown-item" href="/risa">Risa</a>
                        <a class="dropdown-item" href="/sarah">Sarah</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarTPT" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Journals
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://docs.google.com/document/d/18oonZvdVRPGzeurFKEq9wraFkfDdEqKXo4AWc3CWPxk/edit" target="_blank" rel="noopener noreferrer">Ava & Risa's Journal</a>
                        <a class="dropdown-item" href="https://docs.google.com/document/d/1Wzt-dRrkgP-zqC3KqtCZWDsEPKMfLJBK7cT52iBjI2s/edit" target="_blank" rel="noopener noreferrer">Sarah & Crystal's Journal </a>
                        <a class="dropdown-item" href="https://github.com/sarahwxie/ketoswags_spring_portfolio/projects/1" target="_blank" rel="noopener noreferrer">Github Scrum Board</a>
                    </div>
                </li>
                <a class="nav navbar-nav navbar-right" href="/mybag">

                </a>
            </ul>
            <!-- Dark mode action -->
            <!-- Navigation bar JavaScript support -->

        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <img src="/static/images/bag.png" th:src="@{/images/bag.png}" width="30" height="42" class="d-inline-block align-center" alt="">
                </li>
            </ul>
        </div>
    </nav>
    <!-- Begin navigation fragments -->
</body>
</html>