<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>Ascii</title>
    <!-- End of head content specific to page -->

</div></head>

<body layout:fragment="content" th:remove="tag" >
<!-- partial:index.partial.html -->\
<div style="padding:50px;">
<h1>Ascii art frfr</h1>
</div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

</body>

</html>