<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>FRïÐGÊ</title>

    <!-- End of head content specific to page -->
</div>

</head>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div style="padding: 60px; margin-left: 50px;">
        <div>
            <!-- Input -->
            <h1>Padovan Sequence</h1>
            <form action="/ava" method="GET" id="padForm">
                <div>
                    <label for="greetField">Type the nth number in the Padovan Sequence</label>
                    <input name="padseq" id="greetField">
                    <button>Go!</button>
                    <img src="" th:src="@{'/images/padovan.png'}" style="margin-left:15px; max-width: 25%;">
                </div>
            </form>

            <h1>Algorithm Results:</h1>
            <br>
            <br>
            <table class="container">
                <thead>
                <tr style="word-break:break-all">
                    <th width="100px"><h3>For Loop</h3></th>
                    <th width="100px"><h3>While Loop</h3></th>
                </tr>
                </thead>
                <tbody>
                <tr style="word-break:break-all;">
                    <td th:text="${forLoop}"></td>
                    <td th:text="${whileLoop}"></td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
    <!-- End of body content specific to page -->
</div></body>>


</html>

