<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>FRïÐGÊ</title>

    <!-- End of head content specific to page -->
</div>

</head>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div style="padding: 60px; margin-left: 50px;">
        <div>
            <!-- Input -->
            <h1>Padovan Sequence</h1>
            <form action="/ava" method="GET" id="padForm">
                <div>
                    <label for="greetField">Type the nth number in the Padovan Sequence</label>
                    <input name="padseq" id="greetField">
                    <button>Go!</button>
                    <img src="" th:src="@{'/images/padovan.png'}" style="margin-left:15px; max-width: 25%;">
                </div>
            </form>
            <div>
                <br>
                <br>
                <br>
                <h1>Algorithm results:</h1>
                <table class="mx-auto">
                    <!--tr>
                        <th scope="col">Method</th>
                        <th scope="col">Time</th>
                        <th scope="col">Number</th>
                        <th scope="col">List</th>
                    </tr>
                    <tr th:each="fib : ${fibList}">
                        <td th:text="${fib.getName()}"></td>
                        <td th:text="${fib.getTimeElapsed()}"></td>
                        <td th:text="${fib.getNth()}"></td>
                        <td th:text="${fib.getList()}"></td>
                    </tr-->
                </table>
            </div>
        </div>
    </div>
    <!-- End of body content specific to page -->
</div></body>

</html>