<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>Industrial Baby</title>

    <!-- End of head content specific to page -->
</div>

</head>

<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div style="padding: 60px; margin-left: 50px;">
        <h1>Sarah's About Us industrial baby</h1>
        <p>Baby back, ayy
            Couple racks, ayy
            Couple Grammys on him
            Couple plaques, ayy
            That's a fact, ayy
            Throw it back, ayy
            Throw it back, ayy
            And this one is for the champions
            I ain't lost since I began, yeah
            Funny how you said it was the end, yeah
            Then I went did it again, yeah
            I told you long ago, on the road
            I got what they waitin' for
            I don't run from nothin', dog
            Get your soldiers, tell 'em I ain't layin' low
            You was never really rootin' for me anyway
            When I'm back up at the top I wanna hear you say
            He don't run from nothin', dog
            Get your soldiers, tell 'em that the break is over</p>
    </div>
    <!-- End of body content specific to page -->
</div></body>

</html>